<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>656196359855-8c78turh93cb3cq77f90mkvckceolnnn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.656196359855-8c78turh93cb3cq77f90mkvckceolnnn</string>
	<key>API_KEY</key>
	<string>AIzaSyDS7o6AxJSyhHaTfKtUi2ZFmgIGr1PpmFs</string>
	<key>GCM_SENDER_ID</key>
	<string>656196359855</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ctsefinalapp</string>
	<key>PROJECT_ID</key>
	<string>ctse-final-app</string>
	<key>STORAGE_BUCKET</key>
	<string>ctse-final-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:656196359855:ios:e3eda328a3f8df560d265a</string>
	<key>DATABASE_URL</key>
	<string>https://ctse-final-app.firebaseio.com</string>
</dict>
</plist>